* {
  padding: 0%;
  margin: 0%;
}
html {
  scroll-behavior: smooth;
}
.container {
  background-color: rgba(35, 37, 58, 255);
  /* background-color: white; */
}
#nav {
  color: rgba(254, 74, 92, 255);
}

#navbar {
  display: flex;
  justify-content: space-around;
  background-color: #131420;
  color: rgba(224, 224, 230, 255);
  height: 60px;
  align-items: center;
}
#navelements {
  font-size: 18px;
  font-weight: 500;
  display: flex;
}
#navelements li {
  list-style: none;
  margin-left: 40px;
}
#navelements li a {
  color: white;
  text-decoration: none;
}

/* crossicon  */

#cross {
  font-size: 2vh;
  /* font-weight: 900; */

  width: 30px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  position: fixed;
  right: 12px;
  top: 14px;
  display: none;
}

/* bottom to top */
#to-top {
  font-size: 10vh;
  font-weight: 100;
  color: black;
  background-color: rgb(40 42 62);
  border-radius: 50%;
  position: fixed;
  right: 32px;
  bottom: 16px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 50px;
  padding: 8px 0 0 0;

  pointer-events: none;
  opacity: 0;
  transition: all 0.4s;
}
#to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
#about {
  padding-top: 15vh;
  color: rgba(253, 70, 116, 255);
  width: 50%;
  margin: auto;
  margin-bottom: 55px;
}
#about hr {
  background-color: rgba(253, 70, 116, 255);
  height: 1px;
  width: 12vh;
  border-radius: 3px 3px;
  border: 3px solid rgba(253, 70, 116, 255);
  margin-bottom: 12px;
}

#about1 {
  padding: 10px;

  /* background-color: #131420; */
  background-color: #232540;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  box-shadow: 1px 1px white;
}
#about1:hover {
  transform: scale(1.1);
}
#about1 p {
  padding: 2px 0px;
  color: white;
}
#about2 {
  width: 35%;
}

#Cv {
  margin-top: 15px;
  font-weight: 900;
  border: 1px 2px 2px 2px solid rgb(167, 165, 165);
  background-color: black;
  color: white;
  width: auto;
  height: auto;
  padding: 2px 4px;
  border-radius: 4px;
  box-shadow: 1.5px 0.5px 1px 1px white;
  margin-bottom: 15px;
}

/* skills section */
#skill {
  width: 70%;
  margin: auto;
}
#skill hr {
  background-color: rgba(253, 70, 116, 255);
  height: 1px;
  width: 10vh;
  border-radius: 3px 3px;
  border: 3px solid rgba(253, 70, 116, 255);
  margin-bottom: 12px;
}
#skill h1 {
  color: rgba(255, 73, 92, 255);
}

#skillimage1 {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#skillinfo {
  border: 2px solid whitesmoke;
  margin: 8px;
  width: 250px;
  padding: 8px 0;

  text-align: center;
  border-radius: 13px;
  color: white;
  background-color: black;
  transition: transform 0.2s ease-in-out;
}
#skillinfo:hover {
  /* transform: rotate(360deg); */
  transform: scale(1.1);
}
#skillinfo h4 {
  font-size: 2.5vh;
}
#skillimage1 img {
  width: 90px;
}

#githubbutton {
  display: flex;
  justify-content: center;
}
#githubbutton button {
  width: 90px;
  height: 29px;
  background-color: black;
  margin-bottom: 10px;
  border-radius: 9px;
}

#githubbutton button a {
  text-decoration: none;
  color: white;
}

/* project section
 */
#project {
  padding-top: 5vh;
  color: rgba(252, 77, 81, 255);
  width: 90%;
  margin: auto;
  /* border: 3px solid white; */
}
#project hr {
  background-color: rgba(253, 70, 116, 255);
  height: 1px;
  width: 14vh;
  border-radius: 3px 3px;
  border: 3px solid rgba(253, 70, 116, 255);
  margin-bottom: 12px;
}
#projectbox {
  padding: 14px;
  /* background-color: #131420; */

  border-radius: 4px;
  margin: 4px 0;
}
#projectsecion {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#projectinfo {
  width: 400px;
  border: 1px solid white;

  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
  border-radius: 5px;
  /* box-shadow: 0px 3px 5px 0px white; */
  /* background-color: rgba(35, 37, 58, 255); */
  background-color: white;
  height: 50vh;
}
#projectinfo h3 {
  color: rgba(254, 73, 87, 255);
  padding-top: 5px;
  margin: 7px;
}
#projectinfo hr {
  margin: 3px;
  height: 1px;
  background-color: whitesmoke;
}
#projectinfo img {
  width: 400px;
}
#projectinfo button {
  width: 10vh;
  margin: 6px 0;

  background-color: black;
  border-radius: 7px;@media screen and (max-width: 518px) {
  * {
    margin: 0%;
    padding: 0%;
  }

  container {
    width: 100%;
  }
  #navbar {
    flex-direction: column;
    height: auto;
    position: fixed;
    top: 0%;
    width: 100%;
  }
  #navname {
    margin: 14px 0;
  }
  #navelements {
    flex-direction: column;
  }
  /* aboutsection */

  #about hr {
    width: 17vh;
  }
  /* #skills */
  #skill hr {
    width: 15vh;
  }

  /* PROJECT SCETION */
  #project {
    width: auto;
  }
  #project hr {
    width: 22vh;
  }
  #projectinfo {
    display: flex;
    justify-content: center;
    width: 200px;
  }
  #projectinfo img {
    width: 100px;
  }
  #projectinfo hr {
    height: 0.5px;
  }

  /* contact section */
  #contact hr {
    width: 20vh;
  }
  #navelements.active {
    display: none;
  }

  #cross {
    display: block;
  }
  #projectinfo {
    overflow: hidden;
  }
}

}
#contact hr {
  background-color: rgba(253, 70, 116, 255);
  height: 1px;
  width: 14vh;
  border-radius: 3px 3px;
  border: 3px solid rgba(253, 70, 116, 255);
  margin-bottom: 12px;
}
#projectinfo button a {
  text-decoration: none;
  color: white;
}

@keyframes addanmiationtocodebutton {
  0% {
    border-color: black;
    /* box-shadow: 2px 2px 2px 2px black; */
  }
  25% {
    border-color: rgb(0, 0, 131);
    /* box-shadow: 2px 2px 2px 2px rgb(109, 109, 245); */
  }
  50% {
    border-color: rgb(218, 4, 172);
    /* box-shadow: 2px 2px 2px 2px rgb(244, 244, 94); */
  }
  75% {
    border-color: rgb(228, 22, 57);
    /* box-shadow: 2px 2px 2px 2px rgb(244, 244, 94); */
  }
  100% {
    border-color: black;
  }
}

.code-animate {
  transition: 1s ease-in-out;
}

.code-animate:hover {
  border: 3px solid;

  animation: addanmiationtocodebutton 5s ease infinite;
}

/* github button */

#githubbutton button:hover {
  border: 3px solid;
  animation: addanmiationtocodebutton 5s ease infinite;
}

/* my resume */
#Cv:hover {
  border: 3px solid;
  animation: addanmiationtocodebutton 5s ease infinite;
}

/* contact */
#contact {
  width: 70%;
  margin: auto;
  /* padding: 10px 0px; */
}

#contact h1 {
  color: rgba(253, 70, 116, 255);
  padding: 0 0 10px 0;
}

#contactform form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(31 34 62);
  color: white;
  padding-bottom: 10px;
}

#contactform form input {
  margin: 5px 0px;
  color: white;

  padding: 5px;
  background-color: rgb(31 34 62);
  border-radius: 4px;
}
#contactform form textarea {
  margin: 5px 0px;
  color: white;

  padding: 5px;
  background-color: rgb(31 34 62);
  border-radius: 4px;
}

form #submit {
  /* width: 7%; */
  /* margin: auto; */
  padding: 2px 4px;
  border-radius: 8px;

  font-weight: 900;
  border: 1px 2px 2px 2px solid rgb(167, 165, 165);
  background-color: black;
  color: white;
}

/* media queries */
